<div class="paginator">
  <span class="paginator_btn paginator_prev" (click)="prevPage()" *ngIf="isPrevEnabled">Prev</span>
  <span class="paginator_data">{{ from }} - {{ to }}</span>
  <span class="paginator_btn paginator_next" (click)="nextPage()" *ngIf="isNextEnabled">Next</span>
</div>
