<ng-container *ngFor="let item of news; let i = index">
  <div class="item">
    <div>
      <span class="subtext item_index">{{getItemIndex(i)}}. </span>
    </div>
    <div>
      <div>
        <a class="item_title" [href]="item.url" [attr.href]="item.url">{{item.title}}</a>
        <span class="item_hostname" *ngIf="item.hostname"> ({{item.hostname}})</span>
      </div>
      <div class="secondary item_secondary">
        {{item.points}} points by {{item.author}}
        <a [routerLink]="['/', item.objectID]">{{item.ago}}</a>
        | <a [routerLink]="['/', item.objectID]"> {{item.num_comments}} comments </a>
      </div>
    </div>
  </div>
</ng-container>
<app-paginator [currentPage]="currentPage"
               [totalItems]="totalItems"
               [totalPages]="totalPages"
               [hitsPerPage]="hitsPerPage"
               (onNext)="nextPage()"
               (onPrev)="prevPage()">
</app-paginator>
