@import "../../assets/variables";

.item {
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;

  &_index {
    margin-right: 4px;
  }

  &_title {
    &:visited {
      color: $text-secondary;
    }
  }

  &_hostname {
    font-size: 11px;
    color: $text-secondary;
  }

  &_secondary {
    color: $text-secondary;

    a {
      font-size: 10px;
      color: $text-secondary;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
