<div class="story" *ngIf="story">
  <div>
    {{story.title}}
    <span class="story_secondary"
          *ngIf="story.hostname">
      ({{story.hostname}})
    </span>
  </div>
  <div class="secondary">
    {{story.points}} points by {{story.author}} 51 minutes ago | {{comments.length}} comments
  </div>

  <p *ngIf="story.text"
     [innerHTML]="story.text | safeHtml"></p>
</div>


<div>
  <div *ngFor="let comment of comments"
       style="padding-left: {{comment.level*16}}px"
       class="comment">
    <div class="secondary">{{comment.author}} {{comment.ago}}</div>
    <div class="comment_text" [innerHTML]="comment.text | safeHtml"></div>
  </div>
</div>
