@import "../../assets/variables";

.comment {
  margin-bottom: 14px;

  &_text {
    font-size: 12px;

    ::ng-deep {
      * {
        font-size: 12px;
      }
      p {
        margin: 4px 0;
      }
    }
  }
}

.story {
  margin: 16px 8px 32px;

  &_secondary {
    color: $text-secondary;
    font-size: 11px;
  }
}
