<div class="app_container">
  <header class="app_header">
    <a class="app_header-title" routerLink="/">Hacker News Clone</a>
  </header>
  <div class="app_content">
    <router-outlet></router-outlet>
  </div>
</div>
