@import "../assets/variables";

.app {
  &_container {
    width: 85%;
    margin: 0 auto;
  }

  &_header {
    background-color: $bg-primary;
    padding: 4px 8px;

    &-title {
      font-weight: 600;
      margin-right: 12px;
    }
  }

  &_content {
    padding: 4px 8px;
    background-color: $bg-secondary;
  }
}
