@import "assets/variables";

* {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #000;
}

.subtext {
  color: $text-secondary;
}

.secondary {
  color: $text-secondary;
  margin-top: 2px;
  font-size: 10px;
}
